.main-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        text-align: center;
    }

    .dashboard-hours {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100px;

            button {
                padding: 10px;
                margin: 10px;
                width: 150px;
                border-radius: 3px;
                transition: 0.2s;
                cursor: pointer;

                svg {
                    margin-right: 5px;
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            .dashboard-btn-pointed {
                background-color: #fff;
                border: 1px solid $colorGreen;
            }

            .dashboard-btn-notpointed {
                background-color: $colorRed;
                border: none;
                color: #fff;
            }

            small {
                opacity: 0.6;
            }
        }
    }
}