@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./_varaibles.scss";

// Components
@import "../Components/Header/header.scss";
@import "../Components/Calendar/calendar.scss";
@import "../Components/Event/event.scss";

// Pages
@import "../Pages/Dashboard/dashboard.scss";
@import "../Pages/Login/login.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.App {
    height: 100vh;
    width: 100%;
}